<head>
  <meta charset="UTF-8">
  <title>MyoriPass 苗栗通｜苗栗國政府</title>
  <meta name="description" content="苗栗國政府數位服務。出入境快速通關、入境申報、身分識別。">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" type="image/png" href="/img/logo.png">
  <!--一般-->
  <meta property="og:title" content="MyoriPass 苗栗通｜苗栗國政府"/>
  <meta property="og:description" content="苗栗國政府數位服務。出入境快速通關、入境申報、身分識別。"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://pass.myori.org"/>
  <meta property="og:image" content="https://pass.myori.org/img1.png"/>
  <!--Open Graph-->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <style>
    body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 设置最小高度为视窗的高度 */
  }
  main{
    margin-top: 100px;
  }
  footer {
    margin-top: auto; /* 将footer上边距设置为auto，将其推到底部 */
  }
  </style>
</head>