@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap');

/*共通部分r*/
html {
    height: 100%;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(39, 39, 39);
    background-color: #ffffff;
    margin: 0; 
    padding: 0;
    min-height: 100%;
    position: relative;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -moz-user-select: none;
}

/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0017c1;
    display: flex;
    justify-content: space-between;
}

.menuVisible{

    z-index: 99;
}

.title {
    text-align: center;
}
.title h1 {
    font-size:23px;
    margin: 13px;
    padding: 0;
    color: #f4f5f8;
}
.title img {
    width: 225px;
    height: 75px;
    vertical-align: middle;
}
.list {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.list img {
    height: 46.5px;
    width: 35px;
}
h1 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 2rem;
}
h2 {
    padding-bottom: 15px;
    border-bottom: solid 1px #333;
}  
h3{
    padding-top: 15px;
}  
a { 
    color: #039;
    text-decoration: underline;
}

/*Sitename*/
#sitename {
    background: #ffffff;
    padding: 6px 15px;
    font-size: 0.8em;
    line-height: 1;
    border-top: 2px solid rgb(255, 0, 0);
    border-bottom: 2px solid rgb(255, 0, 0);
    display: flex;
    justify-content: center;
}
#sitename a {
    color: rgb(255, 0, 0);
    font-weight:bolder;
    text-decoration:underline;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}
#sitename img {
    vertical-align: middle;
}

/*Section*/
select {
    min-height: 44px;
    min-width: 100%;
    max-width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.719);
    box-shadow: none;
    font-size: 16px;
    line-height: 22px!important;
    padding: 5px 15px;
    border-radius: 5px;
}
input[type=text],input[type=password],input[type=email] {
    min-height: 44px;
    min-width: 95%;
    max-width: 95%;
    border: solid 1px rgba(0, 0, 0, 0.719);
    box-shadow: none;
    font-size: 16px;
    line-height: 22px!important;
    padding: 5px 15px;
    border-radius: 5px;
}
input[type=checkbox]{
    min-width: 23px;
    min-height: 23px;
}
.title-section {
    margin-bottom: 1.6rem;
    vertical-align: middle;
    display: flex;
}
.title-section:before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 1px;
    background-color: #0017c1;
    margin-right: 0.4rem;
    padding-left: 0.4rem;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    min-width: 100%;
    max-width: 100%;
    background: #0017c1;
    color: #fff;
    box-shadow: 1px 3px 4px #00000029;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 35px;
}
button:active{
     /* :active是滑鼠點擊元素的狀態 */
     transform: scale(1);
     box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}
.icn_button img{
    padding-bottom: 3px;
    padding-right: 10px;
}
.menu-btn{
    max-width: 100%;
    background: #0017c1;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 0;
    box-shadow: 0px 0px 0px #00000000;
    min-height: 0px;
    min-width: 0%;
    border-radius: 0;
}
.hidden-menu .menu-btn{
    background: #ffffff;
}
.hidden-menu .menu-btn:hover{
    background: #f3f4f5;
}
.hidden-menu-wrap{
    position: fixed;
    background-color: #00000080;
    width: 100%;
    height: 100%;
}
  /* 样式以隐藏菜单 */
.hidden-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    width: 37%;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
}
.menu-section a{
    text-decoration: none;
}
.menu-section p{
    margin: 0;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.menu-section li{
    border-top: 1px solid #f3f4f5;
}
.button h3{
    padding: 0;
}
.button a{
    min-width: 100%;
    max-width: 100%;
    text-decoration: none;
}
button:hover{
    background-color: #001765;
}
.warning h3{
    padding: 0;
}
.warning a{
    min-width: 100%;
    max-width: 100%;
    text-decoration: none;
}
.warning button {
    color: #ff0000;
    background-color: #fff;
    border: 1.7px solid #ff0000;
}
.back {
    display: flex;
    justify-content: center;
}
.back button {
    color: #000;
    background-color: #fff;
    border: 1.7px solid #000000;
}
.register button {
    background-color: #fff;
    border: 1.7px solid #0017c1;
}
.register a{
    min-width: 100%;
    max-width: 100%;
    text-decoration: none;
}
.register h3{
    padding: 0;
    color: #0017c1;
    text-decoration: none;
}
.back h3{
    padding: 0;
    text-decoration: none;
}
.back a{
    min-width: 100%;
    max-width: 100%;
    text-decoration: none;
}
form h3{
    padding: 0;
}
.register{
    display: flex;
    justify-content: center;
}
.form-group {
    text-align: center;
    margin-bottom: 10px;
}
.alliance-list {
    display: flex;
    justify-content:space-around;
}
.alliance-list h5{
    font-size: 10px;
}
.country {
    max-width: 120px;
    text-align: center;
}
.country img {
    width: 70px;
    height: 70px;
}
.button {
    display: flex;
    justify-content: center;
}
section {
    max-width: 640px;
    margin: auto;
    background-color: #ffffff;
    padding-left: 57px;
    padding-right: 57px;
    padding-bottom:57px;
}
span.help-block{
    display: flex;
    justify-content: center;
    color: red!important;
    display: none;
}

/*Register*/
#choose {
    max-width: 300px;
    max-height: 300px;
    padding: 15px;
    border: 1px solid #0650cb;
}

/*Code*/
.covid-190 {
    color: rgb(1, 205, 137);
    font-size: 75px;
}

.covid-191 {
    color: rgb(205, 38, 1);
    font-size: 75px;
}

.covid-192 {
    color: rgb(255, 166, 0);
    font-size: 75px;
}
.time {
    display: flex;
    justify-content: center;
}

/*下拉菜單*/
ul { /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.drop-down-menu {
    border: #ccc 1px solid;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
}
ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    border-right: #ccc 1px solid;
}
ul.drop-down-menu > li:last-child {
    border-right: none;
}
ul.drop-down-menu > li {
    float: left; /* 只有第一層是靠左對齊*/
}
ul.drop-down-menu a {
    background-color: #fff;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
    background-color: #0650cb;
    color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
    background-color: #0650cb;
    color: #fff;
}
ul.drop-down-menu ul {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
}
ul.drop-down-menu ul li {
    border-bottom: #ccc 1px solid;
}
ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}
ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
    z-index: 999;
    top: 10px;
    left: 90%;
}
ul.drop-down-menu ul { /*隱藏次選單*/
        display: none;
    }
ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
        display: block;
    }
/*Footer*/
.footer {
    background-color: #0650cb;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer p {
    color: #fff;
}
.title a{
    color: #000;
    text-decoration: none;
}

/*Mobile*/
@media (max-width: 650px) {
    section {
        padding-left: 37px;
        padding-right: 37px;
    }
    input[type=text], input[type=password], input[type=email] {
        min-width: 90%;
        max-width: 90%;
    }
    .hidden-menu {
        width: 85%;
    }
    select {
        min-width: 97.5%;
        max-width: 97.5%;
    }
    h2 {
        font-size: 20px;
    }
    .hidden-menu-wrap{
        position: fixed;
        background-color: #00000048;
        width: 100%;
        height: 100%;
    }
    .title img {
        width: 190px;
        height: 70px;
    }
    .list {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    ul.drop-down-menu a {
        background-color: #fff;
        color: #333;
        display: block;
        padding: 0 12px;
        text-decoration: none;
        line-height: 40px;
    }
}